:host{
    vertical-align: top;
}
.tile {
    overflow:hidden; /* paragraph extends out of parent element without this, when images are used on the tile*/
    text-align: center;
    height: 100%;
    width: 100%;
}
.tile.face-up {
    background:rgb(240, 211, 171);
    border-style: inset;
}
.tile.face-down {
    background: burlywood;    
}