:host{
    vertical-align: top;
}
.tile {
    text-align: center;
    border: 3px burlywood;
    height: 100%;
    width: 100%;
}
.tile.face-up {
    background:rgb(240, 211, 171);
    border-style: inset;
}
.tile.face-down {
    background: burlywood;
    border-style: outset;
}